<table id="customers">
  <caption><h1> Products </h1></caption>
  <thead>
    <th><h2> Id </h2></th>
    <th><h2> Name </h2></th>
    <th><h2> cost </h2></th>
    <th><h2 >Quantity </h2></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.cost}}</td>
      <td>{{product.quantity}}</td>
    </tr>
  </tbody>
</table><br><br>

<table id="customers">
    <caption><h1> Families </h1></caption>
    <thead>
      <th><h2> Id </h2></th>
      <th><h2> Name </h2></th>
    </thead>
    <tbody>
      <tr *ngFor="let family of families">
        <td>{{family.id}}</td>
        <td>{{family.name}}</td>
      </tr>
    </tbody>
  </table><br><br>

  <table id="customers">
      <caption><h1> Locations </h1></caption>
      <thead>
        <th><h2> Id </h2></th>
        <th><h2> Name </h2></th>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations">
          <td>{{location.id}}</td>
          <td>{{location.name}}</td>
        </tr>
      </tbody>
    </table><br><br>

    <table id="customers">
        <caption><h1> Transactions </h1></caption>
        <thead>
          <th><h2> Id </h2></th>
          <th><h2> Cost </h2></th>
          <th><h2> Product Id </h2></th>
          <th><h2 >Quantity </h2></th>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{transaction.id}}</td>
            <td>{{transaction.cost}}</td>
            <td>{{transaction.productId}}</td>
            <td>{{transaction.quantity}}</td>
          </tr>
        </tbody>
